.contacts-nav {
    display: flex;
    margin-left: auto;

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.contacts-nav {
    display: flex;
    margin-left: auto;
}

.contacts-nav-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-nav-link {
    display: flex;
    align-items: center;

    color: var(--main-text-color);

    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing);
}

.header-contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-nav-link:hover,
.contacts-nav-link:focus {
    color: var(--action-color);
}