:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --action-color: #2196F3;
    --hero-title-color: #FFFFFF;
    --btn-text-color: #FFFFFF;
    --hero-btn-text-color: #FFFFFF;
    --hero-btn-bcg-color-action: #188CE8;
    --footer-mailphone-text-color: rgba(255, 255, 255, 0.6);

    --footer-btn-color: #2196F3;

    --modal-action-color: #2196F3;
    --modal-btn-color: #2196F3;
    --modal-btn-action-color: #188CE8;
    --modal-background-color: #FFFFFF;

    --maim-background-color: #FFFFFF;
    --second-background-color: #F5F4FA;
    --hero-background-color: #C4C4C4;
    --footer-background-color: #2F303A;

    --header-border-bottom-color: #ECECEC;

    --feature-list-icon-background-color: #F5F4FA;

    --team-social-icon-color-passed: #AFB1B8;
    --team-social-icon-color-aktived: #FFFFFF;
    --team-social-icon-backgroundcolor-actived: #2196f3;
    --team-cards-background-color: #FFFFFF;

    --client-border-color-passed: #AFB1B8;
    --client-icon-color-passed: #AFB1B8;
    --client-border-color-actived: #2196F3;
    --client-icon-color-actived: #2196F3;

    --footer-social-icon-colot: #FFFFFF;
    --footer-social-icon-background-color-passed: rgba(255, 255, 255, 0.1);
    --footer-social-icon-background-color-actived: #2196F3;

    --trans-duration: 250ms;
    --trans-timing: cubic-bezier(0.4, 0, 0.2, 1);
}